<div id="wishDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Wish" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <%= content_tag :h3, t("wishes.add"), id: "wishDialogLabel" %>
    </div>
    <div class="modal-body">
        <%= render "wishes/form", wish: wish %>
    </div>
</div>