<div class="pull-left ml20  text-center" style="width: 140px;">
    <p><%= link_to image_tag(wish.beverage.get_picture, class: "beverage-tiny-frame"), wish.beverage %></p>
    <%= link_to wish.beverage.full_name, wish.beverage %><br/>
</div>