<div class="pull-left ml20  text-center" style="width: 140px;">
    <div style="height: 100px;"><%= link_to image_tag(wish.beverage.get_picture, class: "small-beverage-frame"), wish.beverage %></div>
    <%= link_to wish.beverage.full_name, wish.beverage %><br/>
</div>