<div class="span4">
    <div class="box box-shadow p10">
        <div class="hover_area text-center" style="beverage:relative; width:200px;">
            <%= link_to image_tag(beverage.pic_url), beverage %>
        </div>

        <div class="mt10">
            <%= link_to beverage.full_name, beverage, class: "jujiu-label" %>
        </div>
    </div>
</div>
