<div class="span4 mb20">
    <div class="box box-shadow p10 clearfix text-center">
        <%= link_to image_tag(beverage.pic_url, class: "img-square-168"), beverage %><br/>
        <%= link_to beverage.full_name, beverage, class: "jujiu-label" %>
    </div>
</div>
