<div class="span4">
    <div class="box box-shadow p10" style="width:220px;">
        <div class="text-center">
            <p>
                <%= link_to image_tag(beverage.pic_url), beverage %>
            </p>

            <%= link_to beverage.full_name, beverage, class: "jujiu-label" %>
        </div>
    </div>
</div>
