<div class="masonary_item box box-shadow">
    <div class="p10 clearfix text-center">
        <%= link_to image_tag(beverage.get_picture, width: 168), beverage %><br/>
        <%= link_to beverage.full_name, beverage, class: "jujiu-label" %>
    </div>
</div>
