<div class="span3 clearfix mt20" style="height: 400px;">
   <div class="row clearfix">
        <div class="pull-left">
            <%= link_to image_tag(beverages.first.get_picture, width: 100, height: 100, class: "beverage-frame"), brand %>
        </div>

        <div class="pull-left ml10" style="width: 110px;">
            <p><%= link_to brand.full_name, brand, class: "jujiu-label" %></p>
            <%= content_tag :span, "#{beverages.size}款酒", class: "trivial" %>
       </div>
   </div>
</div>