<% title t("messages.new_message") %>

<p>
    <%= link_to "私信中心", conversations_path %>
    <%= content_tag :span, ">", class: "ml5 mr5" %>
    <%= content_tag :span, t("messages.new_message") %>
</p>

<%= render 'form' %>
