<% title "回应" %>

<div class="span9">
    <%= render "topics/content", topic: @reply.topic %>
    <hr/>
    <%= render "replies/reply", reply: @reply %>
</div>

<div class="span3">
    <%= render "users/user_block", user: @reply.author %>
</div>
