<% title @cocktail.name %>

<div class="clearfix">
    <%= link_to "+添加配方", new_recipe_path(cocktail_id: @cocktail.id) if can? :create, Recipe %>
</div>

<div class="mt20">
    <%= content_tag :span, "该鸡尾酒的所有配方 · · · · · · (#{@cocktail.recipes.size})", class: "jujiu-label" %>
    <div id="masonryContainer">
        <% @cocktail.recipes.each do |recipe| %>
            <%= render recipe %>
        <% end %>
    </div>
</div>

