<div class="clearfix p10">
    <h3><%= article.title %></h3>
    <p>
        <%= content_tag :span, truncate_text(article.body, 140) %>
        <%= link_to t("general.more_detail"), article, class: "ml5" %>
    </p>
</div>
