<% title t("articles.articles") %>

<% if current_user_has_permission? :editor %>
    <div>
        <%= link_to "+新文章", new_admin_article_path %>
    </div>
<% end %>

<% @articles.each do |article| %>
    <%= render article %>
<% end %>