<% title t("articles.articles") %>

<div class="span9">
    <% @articles.each do |article| %>
        <%= render article %>
        <hr/>
    <% end %>

    <%= paginate @articles %>
</div>

<div class="span3">
  <%= link_to "+新文章", new_article_path if can? :create, Article %>
</div>