<% title t("articles.articles") %>

<div class="span9">
    <% @articles.each do |article| %>
        <%= render article %>
        <hr/>
    <% end %>

    <%= paginate @articles %>
</div>

<div class="span3">
    <div class="box box-shadow p10">
        <%= content_tag :span, "推荐文章 · · · · · ·", class: "jujiu-label" %>
        <ul>
            <% @hot_articles.each do |article| %>
                <%= render "articles/listed_article", article: article %>
            <% end %>
        </ul>
    </div>
</div>