<% title t("articles.articles") %>

<% if can? :create, Article %>
    <div>
        <%= link_to "+新文章", new_article_path %>
    </div>
<% end %>

<% @articles.each do |article| %>
    <%= render article %>
<% end %>