<% title @article.title %>

<div class="span9">
    <%= raw @article.body %>
</div>

<div class="span3">
    <%= user_avatar_tag @article.author %>
    <%= link_to t("general.edit"), edit_article_path(@article) if can? :update, @article %>
</div>