<% title "我的#{t("messages.#{@box}")}" %>

<!--<= location(link_to(t('message.' + @box), conversations_path(:box => @box),:remote => true)) %>-->

<!--< toolbar :messages %>-->

<div class="span9">
    <%= render "shared/messages_tab", active_box: @box %>

    <%= render @conversations %>
</div>

<div class="span3">
    <div class="mt20">
        <%= link_to content_tag(:i, '', class: "icon-envelope") + " 写私信", new_message_path %>
    </div>
</div>



