<% title @topic.title %>

<div class="span8">
    <%= raw @topic.body %>

    <div class="mt20">
        <%= link_to "回应", new_reply_path(topic_id: @topic.id) %>
    </div>
</div>

<div class="span4">
    <%= link_to t("general.edit"), edit_topic_path(@topic) %>
</div>

