<div class="masonary_item box box-shadow p10 text-center">
    <%= link_to image_tag(recipe.picture_url, class: "img-square-80"), recipe if recipe.picture?  %><br/>
    <%= link_to recipe.name, recipe, class: "jujiu-label" %>

    <p>
        <%= content_tag :span, "by" %>
        <%= link_to recipe.author.nick, recipe.author %>
    </p>
</div>