<% title t("cocktails.cocktails") %>

<div class="clearfix">
    <%= link_to "+添加鸡尾酒配方", new_recipe_path if can? :create, Recipe %>
</div>

<div id="masonryContainer">
    <% @recipes.each do |recipe| %>
        <%= render recipe %>
    <% end %>
</div>