<div class="clearfix">
    <div class="pull-left">
        <%= content_tag :b, notification.subject %>
        <%= content_tag :span, raw(notification.body), class: "ml20" %>
    </div>
    <%= content_tag :span, t("time.ago", time: time_ago_in_words(notification.created_at)), class: "trivial pull-right" %>
</div>