<% title "我的通知" %>

<div class="span9">
    <%= render "shared/messages_tab", active_box: "notifications" %>

    <table>
      <tr>
          <th>标题</th>
          <th>内容</th>
          <th></th>
      </tr>

      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.subject %></td>
          <td><%= notification.body %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @notifications %>
</div>

