<% title "我的通知" %>

<div class="span9">
    <%= render "shared/messages_tab", active_box: "notifications" %>

    <% @notifications.each do |notification| %>
        <%= render notification %>
        <hr/>
    <% end %>
    <%= paginate @notifications %>
</div>

