<div class="clearfix">
    <div class="pull-left">
        <%= user_avatar_tag(item.author) %>
    </div>
    <div class="pull-left ml10" style="width: 110px;">
        <p><%= link_to item.author.nick, item.author, class: 'jujiu-label' %></p>
    </div>
</div>
