<% unless @deals.empty? %>
    <div class="clearfix">
        <%= content_tag :span, "交易:", class: "pull-left f16 mt50" %>
        <% @deals.each do |deal| %>
            <%= render deal %>
        <% end %>
    </div>
<% end %>