<div class="clearfix p10">
    <div class="pull-left">
        <%= link_to image_tag(user.get_avatar(:profile), width: 80, height: 80), user, class: 'img-square-80 pull-left' %>
    </div>

    <div class="pull-left ml10" style="width: 185px;">
        <%= link_to user.nick, user, class: "jujiu-title" %>
    </div>
</div>