<div class="clearfix">
    <div class="pull-left">
        <%= link_to image_tag(user.get_avatar(:profile), width: 80, height: 80), user, class: 'img-square-80 pull-left' %>
    </div>

    <div class="pull-left ml10" style="width: 185px;">
        <%= link_to user.nick, user %>
    </div>
</div>

<div class="mt10">
    <% if user != current_user %>
        <%= render 'follows/follow_button', item: user %>
        <%= link_to "写私信", new_message_path(receiver_id: user.id), class: "btn btn-mini btn-warning ml10" if can?(:create, Message) && user != current_user %>
    <% end %>
</div>