<% title @user.nick, false %>

<div class="span8">
    <% if @user.role? :merchant %>
        <%= render "merchant_page" %>
    <% else %>
        <%= render "normal_user_page" %>
    <% end %>
</div>

<div class="span4">
    <%= render "users/user_block", user: @user %>
</div>