<!-- footer:Start -->
<div class="clearfix"></div>

<div id="footer" class="mt30">
    <div class="area-moto">
        <%= content_tag :span, '', class: "motoDot mt10 mr5" %>
        <%= content_tag :span, t("site.sologan"), class: 'moto' %>
    </div>


</div>
