<div>
    <%= link_to deal.beverage.full_name, deal, class: "jujiu-label" %>
    <div class="clearfix">
        <%= link_to deal.seller.nick, deal.seller %><%= content_tag :span, "有#{deal.amount}瓶这种酒出售" %>
        <%= content_tag :span, "#{format('%.2f', deal.price)}￥", class: "price ml20" %>
    </div>
</div>