<li class="mt5 mb5">
   <%= link_to "Fetch Whisky", fetch_hornets_path(type: "whisky"), class: "jujiu-label" %>
</li>

<li class="mt5 mb5">
   <%= link_to "Fetch Beer", fetch_hornets_path(type: "beer"), class: "jujiu-label" %>
</li>