// Place all the styles related to the beverages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating_bar {
  color: orange;
  background: orange;
}


.price {
  color: red;
  font-size: 16px;
}

.type_block {
  height: 50px;
  line-height: 50px;
  overflow: hidden;

  a {
    color: gray;
    text-decoration: none;
  }
}

.type_block.selected, .type_block:hover {
  background: rgba(122, 185, 219, 0.56);

  a {
    color: #5C5C5C;
  }
}

.type_bar {
  background: rgba(79, 182, 219, 0.56);
  height: 10px;
}

.type_bar.selected {
  background: #93aaff;
}
