<% title @brand.full_name %>

<%= content_tag :span, "品牌简介" %>

<hr/>

<div id="masonryContainer">
    <% @brand.beverages.each do |beverage| %>
        <%= render "beverages/beverage", beverage: beverage %>
    <% end %>
</div>
