<ul class="unstyled mt10">
  <% %w(Nose Taste Finish Balance).each do |item| %>
      <li class="mt5 mb5">
          <%= content_tag :span, t("reviews.scores.#{item.downcase}"), class: "mr5" %>
          <%= content_tag :span, "#{review.send "#{item.downcase}_score".to_sym}/25 #{review.send "#{item.downcase}_list".to_sym}", class: "ml10 trivial" %>
      </li>
  <% end %>
  <li class="mt5 mb5">
      <%= content_tag :span, t("reviews.foods") %>:
      <%= content_tag :span, review.food_list, class: "ml trivial" %>
  </li>
</ul>