<li class="removable_fields clearfix mb10">
    <div class="clearfix">
        <div class="pull-left">
            <%= f.input :flavor, label: "香味", placeholder: "香味", input_html: {class: 'input-small'} %>
        </div>
        <div class="pull-left">
          <%= f.input :strength, label: "强度", input_html: {class: 'input-mini', max: 5, min: 1} %>
        </div>
        <div class="pull-right">
            <%= link_to_remove_fields "- 删除", f, {class: "trivial"} %>
        </div>
    </div>
</li>


