<div class="text-center" style="width: 20px;"  id="vote_<%= item.class.name.downcase %>_<%= item.id %>">
    <%= link_to t("votes.up"), up_votes_path(:item_id => item.id, :item_type => item.class.name), method: :put, remote: true,
    class: "vote vote_up #{ "voted" if current_user.up_voted?(item)}", title: (current_user.up_voted?(item) ? "取消赞" : "赞") if can? :like, Vote %>
    <div class="clearfix"></div>
    <%= link_to t("votes.down"), down_votes_path(:item_id => item.id, :item_type => item.class.name), method: :put, remote: true,
    class: "vote vote_down #{ "voted" if current_user.down_voted?(item)}", title: (current_user.down_voted?(item) ? "取消贬" : "贬") if can? :hate, Vote %>
</div>
