<div class="span4">
    <div class="box box-shadow p10">
        <div class="hover_area text-center" style="position:relative; width:200px;">
            <%= link_to image_tag(alcohol.pic_url), alcohol %>
        </div>

        <div class="mt10">
            <%= link_to alcohol.full_name, alcohol, class: "jujiu-label" %>
        </div>
    </div>
</div>
